#despesas-receitas {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

.desaparecer {
	display: none;
}

[data-saldo] {
	margin-top: 10px;
}

td {
	text-align: center;
}

tr, td, th {
	border: 1px solid black;
}

#vermelho > :nth-child(odd) {
	background-color: #FF7F50;
}

#verde > :nth-child(odd) {
	background-color: #ADFF2F;
}